.bgLayout {
    background-color: #797979;
}

.logoLayout {
    background: url('/assets/logo-realtaHotel.png') no-repeat;
    background-size: contain;
    position: relative;
    height: 15rem;
    width: 15rem;
    margin-top: 1%;
    overflow: hidden;
}

.cardLogin {
    position: relative;
    width: auto;
    height: auto;
    transform: translate(0%, -25%)
}