.bgLayout {
    background-color: #797979;
}

.logoLayout {
    background: url('/assets/logo-realtaHotel.png') no-repeat;
    background-size: contain;
    position: fixed;
    height: 10rem;
    width: 10rem;
    left: 3rem;
    top: 3rem;
    overflow: hidden;
}

.cardLogin {
    margin: 0 auto;
    position: fixed;
    width:450px;
    height: auto;
    left: 5rem;
    top: 134px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 28px;

    @media only screen {
        width: 50%;
        height: 50%;
    }
}

.cardInCardLogin {
    position:fixed;
    width: 450px;
    height: 430px;
    right: 5rem;
    top:134px;
    background: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(2px);
    border-radius: 28px;
    overflow:hidden;
}

.textTitlaInCardLogin {
    padding-left: 45px;
    padding-top: 45px;
    padding-right: 45px;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
    color: #131828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textTitlaInCardLogin1 {
    padding-left: 45px;
    padding-top: 135px;
    padding-right: 45px;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
    color: #131828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textTitlaInCardLogin2 {
    padding-left: 45px;
    padding-top: 25px;
    padding-right: 45px;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
    color: #131828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textTitlaInCardLogin3 {
    padding-left: 45px;
    padding-top: 25px;
    padding-right: 45px;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
    color: #131828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textSubtitleInCardLogin {
    margin-top: 30px;
    padding-left: 45px;
    margin-bottom: 45px;
    padding-right: 50px;
    height: 48px;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #131828;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.bgImg {
    background: url('/assets/bg-register-full.png') no-repeat center fixed;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        width: 100%;
        height: 100%;
        position: fixed;
        transform: scaleX(1.15);
        top: 0;
        left: 0;
        z-index: -1;
}

.textTitleInCardFormLogin {
    position: absolute;
    width: 281px;
    height: 36px;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #131828;
    flex: none;
    order: 0;
    flex-grow: 0;
    transform: translate(-50%, -50%) scaleX(-1.4);
}

@media (max-width: 1100px) {
    .cardInCardLogin {
        display: none;
    }

    .bgImg {
        display: none;
    }
}
